.ui-page{
	background:#FFF;
}
#phones{
	width: 100%;
	text-align: center;
}

#phones img{
	width: 10%;
	margin: 5px;
}

.ui-content img{
	width: 30%;
	
}

.ui-header{
	background: #099;
}

.tab-content{
	display:none;
}

.tab-content:first-child{
	display:block;
}

#payg{
	margin-top: 15px;
	float: left;
	width: 28%;
	height: auto;
	border:#000 solid medium;
	text-align: center;
	background:#FFF;
}

#paym{
	margin-top: 10px;
	float:right;
	width: 70%;
	height: auto;
	border: #000 solid medium;
	text-align: center;
	background: #FFF;
}

#paym img {
	width: 100%;
	text-align: right;
}

#description{
	margin-top: 30px;
	margin-right: 100px;
	float: right;
	clear: left;
}